{% extends 'email/base_email.html' %}

{% block content %}
<tr>
    <td style="text-align: center; text-transform: uppercase; font-size: 25px; font-weight: lighter; color: #241f17">
        Extension rejected!
    </td>
</tr>
<tr>
    <td>&nbsp;</td>
</tr>
<tr>
    <td style="font-size: 17px; color: #888888; line-height: 1.3; font-weight: lighter;">
        The student did not accept the time extension.
    </td>
</tr>
<tr>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>
        <table align="left" width="80%">
        <tr>
          <td style="color: #888888; font-weight: lighter; text-align: left;">
            For any further questions please contact us at info@tandlr.com
          </td>
        </tr>
     </table>
    </td>
</tr>

{% endblock %}
