{% extends 'email/base_email.html' %}

<h1>Tandlr Password Recovery</h1>

{% block content %}

<tr>
    <td style="text-align: center; text-transform: uppercase; font-size: 25px; font-weight: lighter; color: #241f17">
        Hi {{ user.username }},
    </td>
</tr>
<tr>
    <td>
        <table border="0" width="100%" style="margin-top: 45px;">
            <tr>
                <td style="color: #888888; font-weight: lighter; text-align: left;">
                    Your Tandlr details
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
           <tr>
                <td style="color: #888888; font-weight: lighter; text-align: left;">
                    To recover your sign-in details for Tandlr,  open any of these link:
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong>Remember if you are using a Smartphone or mobile to open this <a href="{{ activation_link }}" style="text-decoration:none; color: #f29005; font-weight: bold;">link.</a></strong></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong>Remember if you are using Computer to open this  <a href="{{ activation_link_web }}" style="text-decoration:none; color: #f29005; font-weight: bold;">link.</a>
</strong></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="color: #888888; font-weight: lighter; text-align: left;">
                Please note this link expires in 15 minutes. After this you'll need to resubmit the request to change your details.
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="color: #888888; font-weight: lighter; text-align: right; padding-right: 30px">
                Tandlr
                </td>
            </tr>
        </table>
    </td>
</tr>

{% endblock %}
